venv
react_app/assets/web/*
react_app/img/*
react_app/backup/*
data/apps/*
data/database.db
temp
.idea
__pycache__
react_app/index.html
react_app/static
main.build
main.dist
nuitka-crash-report.xml
main.onefile-build